<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
        <br>
        <span>
            <FORM> Ingresar productos
                <br>
                <label for="nombre-producto: ">
                    Nombre del producto
                </label>
                <input type="text" name="nombre-producto" id="nombre-producto">
                <label for="código-producto">
                    Código del producto: 
                </label>
                <input type="text" name="" id="">

            </FORM>
        </span>
        <%- include('./partials/footer') %>
</body>

</html>