<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            </br>
            <section class="banner">
                <img src="images/banner-llamass.jpg" alt="Banner de fuego">
            </section>
            <div class="crearcuenta">
                <h4>Ingresá!</h4>
            </div>
            
            
            <main class="register">

                <form action="/" method="POST">
                
                    <div class="control-formulario">
                        <h4>Correo</h4>
                    </div>
                    <div class="control">
                        <input type="email" name="email" placeholder="E-mail">
                    </div>
                    <br>
                    <div class="control-formulario">
                        <h4>Contraseña</h4>
                    </div>
                    <div class="control">
                        <input type="password" name="pass" placeholder="pass">
                    </div>
<br>
                    <p>Olvidaste tu pass?</p>
                    <br>
                    <input type="radio" name="recordar" value="Recordar usuario">Recordar Usuario?
                    <br>
                    <br>
                    <button class="submit" type="submit" value="Ingresar">Ingresar</button>

                    <button class="reset" type="reset" value="Borrar">Borrar</button>
                    <br>
                    <br>
                    <br>
                    <div class="skater">
                        <i class="fas fa-snowboarding"></i>
                    </div>
                    <br>
                    <br>


                </form>
            </main>
            <%- include('./partials/footer') %>

</html>