<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>
    <%- include('./partials/header') %>
    </br>
        <main>
            <h3>Carrito de Compras</h3>
        </br>
    </br>
            <div class="precio-descuento">
                
           </div>
           <article>
                <h4 class="descripcion">Tabla Aguila Logo, 8.5 canadian maple</h4>
            </div>
            
            <section class="tablas">
                
                        <div class="tablaaguila">
                        <img src="images/tablaaguila.jpg" alt="tablaaguila" class="product_img">
                    </div>
                    <div class="precioCantidad">
                    <p class="precio">Precio: $15.000</p>
                </br>
                
                    <p class="cantidad">Cantidad:  </p>
                    <form action="/" method="POST">
                        <input class="qty" type="qty" name="qty" placeholder="Cantidad">
                    </form>
                </div>
                        <br>
                        <br>
                        <br>
                        
                    </article>
                    
                </section>
                </br>
                </main>
                <div class ="subtotal">
                    <h4>SUBTOTAL</h4>
                    <form action="/" method="POST">
                        <input class="suma" type="number" name="number" placeholder="TOTAL">
                </div>

            </br>
        </br>
        <button class="checkout">CHECKOUT</button>
    </br>
</br>
                <footer>
            <div class="subsribe">
            <h3>Subscribe</h3>
        </div>
            <form action="/" method="POST">
                <input class="suscribe" type="email" name="email" placeholder="E-mail">
            </form>
    <br>
    
            <h3>Follow us!</h3>
            <div class="redes">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <br>
        </footer>
    </html>