<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
    
    
            <main>
                <h3>TABLAS</h3>
                <section class="tablas">
                    <article>
                        <div class="tablaaguila">
                            <img src="images/tablaaguila.jpg" alt="tablaaguila" class="product_img">
                        </div>
                        <div class="precio-descuento">
                            <p class="price">$15.000</p>
                        </div>
                        <h4 class="description">Tabla Aguila Logo, 8.5 canadian maple</h4>
                        </div>
                        <br>
                    </article>
                    <article>
                        <div class="tabla-aguila-azul">
                            <img src="images/tablaguilaazul.jpg" alt="Aguilaazul" class="product_img">
                        </div>
                        <div class="precio-descuento">
                            <p class="price">$15.000</p>
                        </div>
                        <h4 class="description">Tabla Aguila logo Azul, 8.5 canadian maple</h4>
                        </div>
                    </article>

                    <article>
                        <div class="tabla-carazombie">
                            <img src="images/tablacara.jpg" alt="carazombie" class="product_img">
                        </div>
                        <div class="precio-descuento">
                            <p class="price">$18.000</p>
                        </div>

                        <h4 class="description">Tabla Zombie, 8.75 canadian maple resin 8</h4>
                    </article>
                    </div>
                </section>
                <br>
                <div class="mastablas">
                    <h3>Más tablas</h3>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                </br>
                <h3>RUEDAS</h3>
                <section class="tablas">
                    <article>
                        <div class="ruedas-1">
                            <img src="images/ruedas1.jpeg" alt="r1" class="product_img">
                        </div>
                        <div class="precio-descuento">
                            <p class="price">$8.000</p>
                        </div>
                        <h4 class="description">54mm 99a</h4>
                        </div>
                    </article>
                    <article>
                        <div class="ruedas-1">
                            <img src="images/ruedas2.jpg" alt="r2" class="product_img">
                        </div>
                        <div class="precio-descuento">
                            <p class="price">$8.000</p>
                        </div>
                        <h4 class="description">53mm 99a</h4>
                        </div>
                    </article>

                    <article>
                        <div class="ruedas-3">
                            <img src="images/ruedas3.jpg" alt="r3" class="product_img">
                        </div>
                        <div class="precio-descuento">
                            <p class="price">$8.000</p>
                        </div>
                        <h4 class="description">53mm 99a</h4>
                    </article>
                    <article>
                        <div class="ruedas4">
                            <img src="images/ruedas4.jpg" alt="r4" class="product_img">
                        </div>
                        <div class="precio-descuento">
                            <p class="price">$8.000</p>
                        </div>
                        <h4 class="description">56mm 98a</h4>
                    </article>
                </section>
                </br>
                <div class="masruedas">
                    <h3>Más ruedas</h3>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                </br>
                <h3>TRUCKS</h3>
                <section class="tablas">
                    <article>
                        <div class="trucks-1">
                            <img src="images/trucks1.jpg" alt="r1" class="product_img">
                        </div>
                        <div class="precio-descuento">
                            <p class="price">$25.000</p>
                        </div>
                        <h4 class="description">159 hollow</h4>
                        </div>
                    </article>
                    <article>
                        <div class="truccks-2">
                            <img src="images/trucks2.jpg" alt="r2" class="product_img">
                        </div>
                        <div class="precio-descuento">
                            <p class="price">$25.000</p>
                        </div>
                        <h4 class="description">149</h4>
                        </div>
                    </article>

                    <article>
                        <div class="trucks-3">
                            <img src="images/trucks3.jpg" alt="r3" class="product_img">
                        </div>
                        <div class="precio-descuento">
                            <p class="price">$28.000</p>
                        </div>
                        <h4 class="description">149 hollow pro model</h4>
                    </article>
                    <article>
                        <div class="trucks4">
                            <img src="images/trucks4.jpg" alt="r4" class="product_img">
                        </div>
                        <div class="precio-descuento">
                            <p class="price">$25.000</p>
                        </div>
                        <h4 class="description">159 classics</h4>
                    </article>
                </section>
                </br>

                <div class="mastrucks">
                    <h3>Más trucks</h3>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                </div>
                </br>
                <section>
                    <div class="youtube">
                        <h3>Seguinos en YouTube</h3>
                    </div>
                    </br>
                    <div class="video">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2bh3__d9ewk"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </section>
                </br>

            </main>
    </body>
    <%- include('./partials/footer') %>

</html>