*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Anton', sans-serif;
}

.main-header{
    
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-y-rutas{
    width: 50%;
    display: flex;

}

.logo{
    width:180px;
 
}

.hamburguer-button{

    color: white;
    display: flex;
    justify-content: flex-end;
    width: 15%;
    
  
}

main{
    width: 90%;
    margin: 0 auto;
    margin-top:50px;
    
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article p{
    display: inline-block;
}

.main-navbar{
    width: 50%;
    display: none;
}

.lupaymas{
    width: 100;
    justify-content: flex-end;
    display: none;
}

.main-navbar ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.main-navbar a{
text-decoration: none;
color: white;
display: flex;
justify-content: space-around;
padding: 5px o;
font-size: 17px;
}

.product_img{
    width: 250px;
}

.tablas{
   
    display: flex;
    padding: 2px;
    font-size: 10px;
    align-items: center;
    
}

.mastablas{
    width: 30%;
    display:flex;
    justify-content: space-around;
    margin-left: 35%;
    padding: 3px;
    border: solid 1px black;
    box-shadow: none;
align-items: center;
}

.masruedas{
    width: 30%;
    display:flex;
    justify-content: space-around;
    margin-left: 35%;
    padding: 3px;
    border: solid 1px black;
    box-shadow: none;
align-items: center;
}

.mastrucks{
    width: 30%;
    display:flex;
    justify-content: space-around;
    margin-left: 35%;
    padding: 3px;
    border: solid 1px black;
    box-shadow: none;
align-items: center;
}
.product_img{
    width: 100%;
    display: flex;
    
}

h4{
    font-size:20px
      
}

h3{
    
    display: flex;
    justify-content: center;
    padding: 2px;
    font-size: 15px;
}

.description{
    font-size: 6px;
    display: none;
    justify-content: center;
    
    }

.price{
    display: none;
}

.tablaaguila{
    display: flex;
    justify-content: center;
    padding: 6px;

}

.element{
    width: 5px;
    border: solid 2px red;
}

.video{
    display: flex;
    image-resolution: 20px;
    justify-content: center;
  

}

.youtube{
    
    display: flex;
    justify-content: center;
    
}

.suscribe{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 30%;
    
}

.redes{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center ;
}

footer{
    
    background-color: black;
    color: #fff;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h3 .suscribe{
    margin-top: 5px;
}

.register{
    display: flex;
    justify-content: center;
}

.register h3{
    font-size: 15px;
}
.skater{
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.crearcuenta{
    display: flex;
    justify-content: center;
    font-size: 37px;
    margin-top: 40px;
}
.create-form{
    padding: 20px 15px;
}

.control-formulario{
    margin-bottom: 15px;
    margin-top: 15px;
    font-style: italic;
}
.control{
    width:100%;
    padding: 8px;
}

.Newsletter{
    display: flex;
    justify-content: center;
    padding: 8px
    
}

.submit{
    background-color: black;
    border:none;
    font-size: 20px;
    color:white;
    padding:5px;
    border-radius: 5px;
    border:none;
}
.reset{
    background-color: black;
    border:none;
    font-size: 20px;
    color:white;
    padding:5px;
    border-radius: 5px;
    border:none;
}
section.banner img{
    width: 100%;
    display: flex;
    margin-top: 80px;
}

@media (min-width: 361px){

    .product_img:hover{
        
        box-shadow: 0px 0px 10px rgb(100, 100, 100)}

    .header{
        position: fixed;

    }

    main section article .description{
        display: block;
    }
    .logodiv{
        display: flex;
        justify-content: space-between;
    }
.precio {
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
}
.cantidad{
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
}
.descripcion{
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-left: 5%;
}
.agregarAlCarrito{
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    border-radius: 5px;
    border:none;
}

.agregarAlCarrito:hover{
    background-color: red;
    color: yellow;

}
.hamburguer-button{
    display: flex;
    justify-content: flex-end;
    margin-left: 40%;

}

.tablas{
    display: flex;
    justify-content: space-around;
}

.description{
    font-size: 6px;
    display: flex;
    justify-content: center;
    
    }

    .cantidadBoton{
        display: flex;
        justify-content: flex-start;
        padding: 3px;
    }

    .subtotal{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        color: white;
    }

    .checkout{
        background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    transition-property: background-color, color;
    transition-duration: 0.5s;
     border-radius: 5px;
     border: none;   
    }

    .checkout:hover{
        background-color: red;
        color: yellow;
    
    }

    .editar{
        background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    transition-property: background-color, color;
    transition-duration: 0.5s;
     border-radius: 5px;
     border: none;   
    }
   
    .editar:hover{
        background-color: red;
        color: yellow;
    }

    .eliminar{
        background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    transition-property: background-color, color;
    transition-duration: 0.5s;
     border-radius: 5px;
     border: none;   
    }
   
    .eliminar:hover{
        background-color: red;
        color: yellow;
    }

@media (min-width: 769px) {

    .description{
        font-size: 12px;
        display: flex;
        justify-content: center;
        
        }

    .logodiv{
      display: flex;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
        
    }
    
    .main-navbar{
        margin-top: 40px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
     font-size: 19px;
    }

    .hamburguer-button{
        display: none;
    
    }
    .lupaymas{
        display: flex;     
        width: 100px    ;   
        padding: 2px;
        color: white;
        margin-top: 20px;
        padding: 15px;
        margin-left: 20%;
    }

    .lupa{
        
        padding: 10px;
    }
    .user{
        
        padding:10px;
    }
    .carrito{
        
        padding: 10px;
    }
    .suscribe{
        display: flex;
        justify-content: center;
        padding: 5px;
        margin-left: 40%;
        
    }
    h3{
    
        display: flex;
        justify-content: center;
        padding: 2px;
        font-size: 20px;
    }
    .checkout{
        background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 45%;
        
    }

    .editar{
        background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 5%;
        
    }

    .eliminar{
        background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 5%;
        
    }
}
}

@media (min-width: 1000px) {

    .lupaymas{
        display: flex;
        justify-content: flex-end;
        
        padding: 2px;
        color: white;
        margin-top: 20px;
        padding: 15px;
        margin-left: 40%;}

        .suscribe{
            display: flex;
            justify-content: center;
            padding: 5px;
            margin-left: 43%;
            
        }

        h3{
    
            display: flex;
            justify-content: center;
            padding: 2px;
            font-size: 25px;
        }
        .checkout{
            background-color: black;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        margin-left: 45%;
            
        }
        .editar{
            background-color: black;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        margin-left: 5%;
            
        }
        .eliminar{
            background-color: black;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        margin-left: 5%;
            
        }
    }