<footer>
    <div class="subsribe">
    <h3>Subscribe</h3>
</div>
    <form action="/" method="POST">
        <input class="suscribe" type="email" name="email" placeholder="E-mail">
    </form>
<br>

    <h3>Follow us!</h3>
    <div class="redes">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
</div>
<br>
</footer>