<header class="main-header">
    <div class="logo-y-rutas">
        <div class="logodiv">
            <a href="/">
            <img src="/images/skate-planet-logo-02.jpg" class="logo">
        </a>
        </div>
        <nav class="main-navbar">
            <ul>
                <li><a href="/products">Tablas</a></li>
                <li><a href="/products">Ruedas</a></li>
                <li><a href="products">Trucks</a></li>

            </ul>
        </nav>
    </div>
    
   <a href="#"  class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
    </a>
    
    <div class="lupaymas">
    <a href="#" class="lupa" style="color: white">
        <div class="lupa">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </a>
        <a href="/users/login" class="user" style="color: white">
        <div class="user">
            <i class="fa-solid fa-circle-user"></i>
        </div>
        </a>
        <a href="/product-cart" class="carrito" style="color: white">
        <div class="carrito">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <ul class="navbar-nav align-items-center">
            <% if (locals.isLogged) { %>
                <br>
                <img src="/images/users/<%= locals.userLogged.image %>" width="40" style="border-radius: 100%;">
                <br>      
                 <%= locals.userLogged.email %> 
                    </a>
                    <a class="dropdown-item" href="/users/profile">My profile</a>
                    <br>
                    <a class="dropdown-item" href="/users/logout">Logout</a>
                        
                    </ul>
                </li>
           
            <% } %>
        </ul>
        </a>
    </div>
    <div class="encabezado">
</header>